<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - My Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    @* Другие необходимые стили *@
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">My Application</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/Expenses/Index">Expenses</a></li>
                <li><a href="/ExpenseCategories/Index">Expense Categories</a></li>
                <li><a href="/Expenses/MonthlyStatistics">Monthly Statistics</a></li>
            </ul>
        </nav>
        @RenderBody()
    </div>
    @* Другие необходимые скрипты *@
</body>
</html>
